* {
    font-family: Microsoft YaHei;
    font-size: 12px;
}

/* logo */
QLabel#labelLogo
{
    background: url(:/img/logo2.png);
}

QLabel#labelBack
{
    background: rgb(30, 137, 224);
}

QTabWidget:pane
{
    border: none;
}
QTabWidget::tab-bar
{
    left: 200px;
}
QTabBar::tab
{
    background: rgb(30, 137, 224);
    width: 115px;
    height: 60px;
    font: 16px;
    color: white;
}
QTabBar::tab:hover, ::tab:selected
{
    background: rgb(19, 119, 209);
}

